h1 {
    color: blue;
    display: flex;
    justify-content: center;
}

#guessButton {
    color: blueviolet;
    display: flex;
    justify-content: center;

}

#input {
    display: flex;
    justify-content: center;
}

p {
    color: aquamarine;
    display: flex;
    justify-content: center;
}

body {
    background-color: grey;

}